<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- We use GitHub packages repository to push developer packages -->
    <!-- TODO: replace personal namespace with MongoDB's one before merge into the master -->
    <add key="github" value="https://nuget.pkg.github.com/sanych-sun/index.json" />
  </packageSources>
</configuration>
